{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,
            <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
                <text y=%22.9em%22 font-size=%2290%22>🥂</text>
            </svg>
            ">
            <title>
                {% block title %}
                {% endblock title %}
            </title>
            <link rel="stylesheet" href='{% static "css/receipts.css" %}'>
        </head>
        <body>
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'category_list' %}">Category List</a>
                            </li>
                            <li>
                                <a href="{% url 'account_list' %}">Account List</a>
                            </li>
                            <li>
                                <a href="{% url 'create_receipt' %}">Create Receipt</a>
                            </li>
                            <li>
                                <a href="{% url 'create_category' %}">Create Category</a>
                            </li>
                            <li>
                                <a href="{% url 'create_account' %}">Create Account</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'signup' %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            {% block content %}
            {% endblock content %}
            <footer>
            </footer>
        </body>
    </html>
