{% extends 'base.html' %}

{% load static %}

{% block title %}
    Two Shot - Categories
{% endblock title %}
{% block content %}
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for category in category_list %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
